.logo-nav{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(204, 200, 200);
}
#pdf-to-word-css{
    border: 2px solid #0d6efd;
    border-radius: 25px;
    padding: 50px;
}
#word-to-pdf-css{
    border: 2px solid #0d6efd;
    border-radius: 25px;
    padding: 50px;
}
#merge-pdf-css{
    border: 2px solid #0d6efd;
    border-radius: 25px;
    padding: 50px;
}
#merge-word-css{
    border: 2px solid #0d6efd;
    border-radius: 25px;
    padding: 50px;
}
#image-to-pdf{
    border: 2px solid #0d6efd;
    border-radius: 25px;
    padding: 50px;
}
.welcome-messege{
    border: 2px solid #0d6efd;
    border-radius: 25px;

    padding: 50px;
}
.main-body{
    margin-top: 3%;
    text-align: center;
}
.logo-body{
    text-align: center;
}